<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<DataCollectionRunSettings>
		<DataCollectors>
			<DataCollector friendlyName="Code Coverage">
				<Configuration>
					<CodeCoverage>
						<!-- Exclude test assemblies ending with 'tests.unit.dll' -->
						<Exclude>
							<ModuleName>*.Tests.Unit*</ModuleName>							
						</Exclude>
					</CodeCoverage>
				</Configuration>
			</DataCollector>
		</DataCollectors>
	</DataCollectionRunSettings>
</RunSettings>
